# Some common settings that don't depend on anything else
# TODO: There should be reasonable and working defaults even if this
# file is missing. Maybe use PREFIX/etc/defaults/sysupdate-setup.rc
# for that and then let the user override defaults if needed using
# PREFIX/etc/sysupdate-setup.rc.

# The name of the ZFS pool.
ZFS_POOL="zrdnzltank"

# Jails are located under this ZFS filesystem
JAIL_BASEFS="${ZFS_POOL}/DATA/jails"

# System sources are kept under this ZFS filesystem
SRC_BASEFS="${ZFS_POOL}/DATA/src"


# Basis for the ZFS user properties used.
USERPROPBASE="info.rdnzl"

# Used only on a real host with ZFS root filesystem
KERNELSVNREVISIONPROP="${USERPROPBASE}:kernelsvnrevision"
KERNELSVNBRANCHPROP="${USERPROPBASE}:kernelsvnbranch"

# Used all around to mark the SVN revision of sources and installed world.
SVNREVISIONPROP="${USERPROPBASE}:svnrevision"
SVNBRANCHPROP="${USERPROPBASE}:svnbranch"

